{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
    background: #484848;
    height: 371px;
    padding:  83px 0px 0px 0px;
    font-size: 12px !important;
    margin: 0px auto;
  }

  .footer-container{
    display: flex;
    justify-content: space-between;
    height: 61.8%;
    margin: 0px  10% 0px  10%;
    list-style-type: none;
    padding: 0;
  }

  .footer__title-column{
    font-weight: 700;
    line-height: 1.5;
    color: white;
    text-transform: uppercase;
    margin: 0;
    font-size: 16px;
  }

  .footer__describe-column{
    margin: 0;
  }

  .nav-column_subscription{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    color: #B0B0B0;
  }

  .user-email{
    width: 61%;
    border: 1px solid #B0B0B0;
    background: #484848;
    color: #B0B0B0;
    padding-left: 3%;
  }

  .button-submit-email{
    background: #B0B0B0;
    font-weight: 700;
    color: white;
    border:none;
  }

  .footer__subscription{
    display: flex;
    height: 41px;
  }

  .nav-column{
    display: flex;
    flex-direction: column;
    width: 20%;
  }

  .nav-items{
    list-style-type: none;
    color: #B0B0B0;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
  }

  .nav-items a{
    text-decoration: none;
    color: #B0B0B0;
  }
{%- endstyle -%}

<footer class="footer">
  <ul class="footer-container">
    <li class="nav-column_subscription">
      <h3 class="footer__title-column">Подписаться</h3>
      <p class="footer__describe-column">
        Подпишитесь на наши новости и узнавайте первыми о самом интересном, что происходит в увлекательном мире ретро
        электрики.
      </p>
      <form class="footer__subscription">
        <input type="email" name="UserEmail" value="Ваш E-mail адрес" class="user-email"><br>
        <input type="submit" value="Подписаться" class="button-submit-email">
      </form>
    </li>
    <li class="nav-column">
      <h3 class="footer__title-column">Полезная информация</h3>
      <ul class="nav-items">
        <li><a href="#">Наши контакты</a></li>
        <li><a href="#">Сотрудничество</a></li>
        <li><a href="#">Монтаж</a></li>
        <li><a href="#">Карта сайта</a></li>
      </ul>
    </li>
    <li class="nav-column">
      <h3 class="footer__title-column">Как приобрести</h3>
      <ul class="nav-items">
        <li><a href="#">Доставка</a></li>
        <li><a href="#">Оплата</a></li>
        <li><a href="#">Публичная оферта</a></li>
        <li><a href="#">Политика конфиденциальности</a></li>
      </ul>
    </li>
    <li class="nav-column">
      <h3 class="footer__title-column">Личное пространство</h3>
      <ul class="nav-items">
        <li><a href="#">Войти в кабинет </a></li>
        <li><a href="#">История заказов</a></li>
        <li><a href="#">Избранные товары</a></li>
        <li><a href="#">Подписка на новости</a></li>
      </ul>
    </li>
  </ul>
</footer>
