
{%- style -%}
  .header {
    height: 151px;
    background: white;
    font-size: 12px;
    display: flex;
    flex-direction: column;
  }

  .first-nav{
    display: flex;
    justify-content: space-between;
    height: 91px;
    background: #F8F8F8;
    width: 100%;
    padding: 0px 10%;
    align-items: center;
  }

  .second-nav{
    height: 60px;
    background: #FFFFFF;
    display: flex;
    width: 100%;
    padding: 0px 10%;
    justify-content: space-between;
    align-items: center;
  }

  .left-part{
    display: flex;
    width: 67%;
    justify-content: space-between;
    align-items: center;
  }

  .right-part{
    display: flex;
    justify-content: space-between;
    width: 23%;
  }

  .number{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

  .backcall-submit{
    color: #F9A82F;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
  }  

  .telephone-number{
    display: flex;
    flex-direction: column;
  }

  .search-nav input {
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    background: #F8F8F8;  
    border: 1px solid #DCDCDC;
    border-radius: 50px;
    padding-left: 6%;
    font-weight: 300;
    line-height: 16.41px;
  }

  .search-nav button {
    position: absolute;
    top: 0.8em;
    right: 1em;
    height: 1.4em;
    width: 1.4em;
    border: none;
    background-color: #F8F8F8;
    background-image: url("https://cdn.shopify.com/s/files/1/0732/3569/3849/files/Vector.svg?v=1678949891");
    background-repeat: no-repeat;
  }
  .search-nav {
    width: 34.5%;
    position: relative;
  }

  .second-nav a {
    text-decoration: none;
    color: black;
    line-height: 19px;
    font-weight: 700;
  }

  .second-nav a:active, .second-nav a:hover {
    color: #F9A82F;
  }

  .dropbtn {
    color: black;
    border: none;
    line-height: 19px;
    font-weight: 700;
    background: white;
    font-size: 12px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    width: 346%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background: #FFFFFF;
  }

  .dropdown-content a {
    color: #A9A9A9;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {color: #F9A82F;}

{%- endstyle -%}

<header class="header">
  <div class="first-nav">
    <div class="left-part">
      <a href="#"><img src="https://cdn.shopify.com/s/files/1/0732/3569/3849/files/logo1.svg?v=1678947378" width="168" height="54" loading="lazy" alt="logo"></a>
      <div class="telephone-number">
        <span class="number">+7 926 780 3663</span>
        <a href="#" class="backcall-submit">Обратный звонок</a>
      </div>
      <form class="search-nav">
        <input type="text" placeholder="Поиск">
        <button type="submit"></button>
      </form>
    </div>
    <div class="right-part">
      <a href="#"><img src="https://cdn.shopify.com/s/files/1/0732/3569/3849/files/bookmarks.svg?v=1678947549" width="27" height="24" loading="lazy" alt="bookmarks"></a>
      <a href="#"><img src="https://cdn.shopify.com/s/files/1/0732/3569/3849/files/cart.svg?v=1678913751"  width="100" height="28" loading="lazy" alt="cart"></a>
      <a href="#"><img src="https://cdn.shopify.com/s/files/1/0732/3569/3849/files/profile.svg?v=1678947378" width="22" height="22" loading="lazy" alt="profile"></a>
  
    </div>
  </div>
  <div class="second-nav">
    <div class="dropdown">
      <button class="dropbtn">Каталог</button>
      <div class="dropdown-content">
        <a href="#">ВСЕ ТОВАРЫ</a>
        <a href="#">РОЗЕТКИ</a>
        <a href="#">ВЫКЛЮЧАТЕЛИ</a>
        <a href="#">РАСПАЕЧНЫЕ КОРОБКИ</a>
        <a href="#">КАБЕЛЬНЫЕ ИЗОЛЯТОРЫ</a>
        <a href="#">ВТУЛКИ</a>
        <a href="#">РАМКИ</a>
        <a href="#">ПРОВОДА</a>
        <a href="#">СВЕТИЛЬНИКИ</a>
        <a href="#">ЛАМПЫ</a>
        <a href="#">АКСЕССУАРЫ</a>
      </div>
    </div>
    <a href="#">Главная</a>
    <a href="#">О нас</a>
    <a href="#">Акции</a>
    <a href="#">Новости</a>
    <a href="#">Контакты</a>
  </div>
  
</header>


