{%- style -%}
  .header {
    height: 151px;
    background: white;
    font-size: 12px;
    display: flex;
    flex-direction: column;
  }

  .nav_top {
    display: flex;
    justify-content: space-between;
    height: 91px;
    background: #f8f8f8;
    width: 100%;
    padding: 0px 10%;
    align-items: center;
  }

  .nav_top > ul {
    list-style-type: none;
  }

  .nav_down {
    height: 60px;
    background: #ffffff;
    padding: 0px 10%;
    display: flex;
    width: 100%;
    align-items: center;
  }

  .nav_down > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
  }

  .nav__left-part {
    display: flex;
    width: 67%;
    justify-content: space-between;
    align-items: center;
  }

  .nav__left-part,
  .nav__right-part {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav__left-part li:last-child {
    width: 35%;
  }

  .nav__right-part {
    display: flex;
    justify-content: space-between;
    width: 23%;
    align-items: center;
    height: 60.4px;
  }

  .nav__telephone-number b {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

  .nav__backcall-submit {
    color: #f9a82f;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
  }

  .nav__telephone-number {
    display: flex;
    flex-direction: column;
  }

  .nav__search input {
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    background: #f8f8f8;
    border: 1px solid #dcdcdc;
    border-radius: 50px;
    padding-left: 6%;
    font-weight: 300;
    line-height: 16.41px;
  }

  .nav__search button {
    position: absolute;
    top: 0.8em;
    right: 1em;
    height: 1.4em;
    width: 1.4em;
    border: none;
    background-color: #f8f8f8;
    background-image: url('https://cdn.shopify.com/s/files/1/0732/3569/3849/files/Vector.svg?v=1678949891');
    background-repeat: no-repeat;
  }

  .nav__search {
    width: 100%;
    position: relative;
  }

  .nav_down a {
    text-decoration: none;
    color: black;
    line-height: 19px;
    font-weight: 700;
  }

  .nav_down a:active,
  .nav_down a:hover {
    color: #f9a82f;
  }

  .nav__dropbtn {
    color: black;
    border: none;
    line-height: 19px;
    font-weight: 700;
    background: white;
    font-size: 12px;
  }

  .nav__dropdown {
    position: relative;
    display: inline-block;
  }

  .nav__dropdown-content {
    display: none;
    position: absolute;
    width: 346%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    background: #ffffff;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .nav__dropdown-content a {
    color: #a9a9a9;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
  }

  .nav__dropdown:hover .nav__dropdown-content {
    display: block;
  }

  .nav__dropdown:hover .nav__dropbtn {
    color: #f9a82f;
  }

  .header__icon-heart,
  .header__icon-cart,
  .header__icon-profile {
    display: flex;
    position: relative;
  }

  .header__icon-cart {
    align-items: center;
    width: 100px;
    justify-content: space-between;
  }

  .header__number-likes,
  .header__number-products {
    position: absolute;
    background: #f9a82f;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 12px;
    left: 17px;
    font-weight: 700;
    font-size: 11px;
    color: #ffffff;
  }

  .header__number-products {
    bottom: 12px;
    left: 10px;
  }

  .header__total-price {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #6b422b;
  }
{%- endstyle -%}

<header class="header">
  <nav class="nav_top">
    <ul class="nav__left-part">
      <li>
        <a href="#">
          {%- liquid
            render 'icon-logo'
          -%}
        </a>
      </li>
      <li class="nav__telephone-number">
        <b>+7 926 780 3663</b>
        <a href="tel:+79267803663" class="nav__backcall-submit"> Обратный звонок </a>
      </li>
      <li>
        <form class="nav__search">
          <input type="text" placeholder="Поиск">
          <button type="submit"></button>
        </form>
      </li>
    </ul>
    <ul class="nav__right-part">
      <li>
        <a href="#" class="header__icon-heart">
          {%- liquid
            render 'icon-heart'
          -%}
          <span class="header__number-likes">7</span>
        </a>
      </li>
      <li>
        <a href="#" class="header__icon-cart">
          {%- liquid
            render 'icon-cart2'
          -%}
          <span class="header__number-products">10</span>
          <b class="header__total-price">15345 руб.</b>
        </a>
      </li>
      <li>
        <a href="#" class="header__icon-profile">
          {%- liquid
            render 'icon-profile'
          -%}
        </a>
      </li>
    </ul>
  </nav>
  <nav class="nav_down">
    <ul>
      <li class="nav__dropdown">
        <button class="nav__dropbtn">Каталог</button>
        <ul class="nav__dropdown-content">
          <li><a href="#">ВСЕ ТОВАРЫ</a></li>
          <li><a href="#">РОЗЕТКИ</a></li>
          <li><a href="#">ВЫКЛЮЧАТЕЛИ</a></li>
          <li><a href="#">РАСПАЕЧНЫЕ КОРОБКИ</a></li>
          <li><a href="#">КАБЕЛЬНЫЕ ИЗОЛЯТОРЫ</a></li>
          <li><a href="#">ВТУЛКИ</a></li>
          <li><a href="#">РАМКИ</a></li>
          <li><a href="#">ПРОВОДА</a></li>
          <li><a href="#">СВЕТИЛЬНИКИ</a></li>
          <li><a href="#">ЛАМПЫ</a></li>
          <li><a href="#">АКСЕССУАРЫ</a></li>
        </ul>
      </li>
      <li><a href="#">Главная</a></li>
      <li><a href="#">О нас</a></li>
      <li><a href="#">Акции</a></li>
      <li><a href="#">Новости</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
  </nav>
</header>
