<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
</head>

{%- style -%}
  .swiper-container{
     background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
      height: 300px;
      display: flex;
  }
  .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  {%- endstyle -%}

  <div class="swiper-container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0732/3569/3849/files/banner2.png?v=1678948045" width="auto" height="auto" loading="lazy" alt="itapplogo"></div>
        <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0732/3569/3849/files/banner3.png?v=1678948045" width="auto" height="auto" loading="lazy" alt="itapplogo"></div>
        <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0732/3569/3849/files/banner4.png?v=1678948045" width="auto" height="auto" loading="lazy" alt="itapplogo"></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

  <script>
    var swiper = new Swiper(".mySwiper", {
      pagination: {
        el: ".swiper-pagination",
      },
    });
  </script>